@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Arimo", sans-serif;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: rgb(143 20 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#icon {
    height: 100%;
    display: flex;
    align-items: center;
}

#icon img {
    width: 70px;
}

#icon h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 26px;
}

#searchBox {
    position: relative;
}

#searchBox #searchFeild {
    height: 100%;
    padding: 10px 20px;
    width: 400px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
}

#searchBox #searchBtn {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    background-color: rgb(238, 193, 255);

    &:hover {
        background-color: rgb(40, 25, 45);
        color: rgb(238, 193, 255);
    }
}

#navRight {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: rgb(212, 214, 216);
}



#mainBody {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#foodMenu {
    width: 30%;
    background-color: rgb(238, 193, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.foodList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 2px solid white !important;
    padding: 10px;
}

.foodList #foodImage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#foodInfo h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(143 20 186);
    font-size: 18px;
}

#foodInfo p {
    letter-spacing: 1px;
}

#foodMenu::-webkit-scrollbar {
    width: 10px;
}

#foodMenu::-webkit-scrollbar-track {
    background: rgb(238, 193, 255);
}

#foodMenu::-webkit-scrollbar-thumb {
    background: rgb(143 20 186);
    border-radius: 10px;
    height: 100px;
}

#foodMenu::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 10, 120);
}



#SingleFood {
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    padding: 10px 20px;
}

#SingleFood #image {
    background-color: yellow;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


#SingleFood #foodTitle {
    background-color: rgb(143 20 186);
    position: relative;
    top: -50px;
    transform: skew(-20deg);
    padding: 10px;
}

#SingleFood #foodDetails {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#SingleFood #foodDetails>div {
    display: flex;
    gap: 35px;
    align-items: center;
}

#SingleFood #foodDetails>div i {
    transition: all 0.4s ease;
    font-size: 20px;
}

#SingleFood #foodDetails>div i {
    color: rgb(143 20 186);

    &:hover {
        transform: translateY(-2px);
    }
}

#foodIngredients {
    margin-top: 20px;
    /* width: 100%; */
}

#foodIngredients h2 {
    color: rgb(143 20 186);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#foodIngredients ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style-type: square;
    gap: 10px;
    column-gap: 2rem;
    margin-top: 20px;

}

ul li {
    flex: 1;
    flex-basis: 200px;
}


.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l4 2.5s infinite;
}

.loader:after {
    animation-delay: -1.25s;
}

@keyframes l4 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

.laoderTwo {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.laoderTwo:before,
.laoderTwo:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #000000;
    animation: l5 2.5s infinite;
}

.laoderTwo:after {
    animation-delay: -1.25s;
}

@keyframes l5 {
    0% {
        inset: 0 35px 35px 0;
    }

    12.5% {
        inset: 0 35px 0 0;
    }

    25% {
        inset: 35px 35px 0 0;
    }

    37.5% {
        inset: 35px 0 0 0;
    }

    50% {
        inset: 35px 0 0 35px;
    }

    62.5% {
        inset: 0 0 0 35px;
    }

    75% {
        inset: 0 0 35px 35px;
    }

    87.5% {
        inset: 0 0 35px 0;
    }

    100% {
        inset: 0 35px 35px 0;
    }
}

@media screen and (max-width:900px) {
    #navbar {
        padding: 5px;

    }

    #icon img {
        width: 50px;
    }

    #icon h1 {
        font-size: 22px;
    }

    #searchBox #searchFeild {
        padding: 10px 20px;
        width: 350px;
        font-size: 16px;

    }

    #navRight {
        font-size: 14px;
    }

    #foodIngredients ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
      .foodList{
        gap: 3px;
    }
    .foodList #foodImage img {
        width: 50px;
        height: 50px;
    }
    #foodInfo h2{
        font-size: 12px;
    }
    #foodInfo p{
        font-size: 10px;
    }
}

@media screen and (max-width:768px) {
    #navRight {
        display: none;
    }

    #foodMenu {
        width: 30%;
    }

    #SingleFood {
        width: 70%;
    }

    #SingleFood #foodTitle {
        width: fit-content;
        margin: 0 auto;
    }

    #SingleFood #foodTitle h1 {
        font-size: 18px;
        width: fit-content;
    }

    #foodIngredients ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foodList{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    #navbar {
        justify-content: flex-start;
        flex-direction: column;
    }

    #searchBox #searchBtn {
        text-align: center;
        font-size: 14px;
    }

    #searchBox #searchFeild {
        width: 340px;
        /* font-size:14px; */
    }

    #icon h1 {
        font-size: 18px;
        letter-spacing: 0px;
    }

    #foodIngredients ul {
        grid-template-columns: 1fr;
    }
}